/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    background-color: #1F1F1F;
}

.custom-switch .custom-control-label::before {
    background-color: #FFFFF0;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #FFFFF0;
}

.custom-switch .custom-control-label::after {
    background-image: url('./images/moon_dark_mode.webp');
    background-size: cover;
}

.title,
.title:hover,
.intro,
.post,
.post:hover,
.post-content,
.blockquote p {
    color: #FFFFF0;
    opacity: .75;
}

.post-title,
.blockquote h5 {
    color: #F0C420;
    /* text-shadow: 0px 0px 1px #FFFFF0; */
}

.intro-opener {
    border-color: #F0C420;
}


/* START SOURCE: https://jsfiddle.net/dfmbe60u/13/ */
.custom-switch.custom-switch-adaptive .custom-control-label {
    color: #1F1F1F;
    border: 1px solid #FFFFF0;
    background-color: #FFFFF0;
}

.custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label {
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
    background-color: #F0C420;
    opacity: .75;
}
/* END SOURCE */