/* Themes */

.darkmode {
    --color-bg: #1F1F1F;
    --color: #BDBDBD;
    --opacity: .75;
    --color-pop: #F0C420;
}

.lightmode {
    --color-bg: #FFFFED;
    --color: #1F1F1F;
    --opacity: 1;
    --color-pop: #DD571C;
}

body,
#blog-name,
.post-link p {
    background-color: var(--color-bg);
    color: var(--color);
    opacity: var(--opacity);
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    /* font-weight: 600; */
}

.highlight {
    color: var(--color-pop);
}

@media (max-width: 768px) {
    .single-col {
        margin-left: 0;
        margin-right: 0;
    }
}

.single-col {
    margin: 0 auto;
    max-width: 672px;
    padding-top: 25px;
}

a:hover {
    text-decoration: none;
}

.post:not(:last-of-type) {
    border-bottom: 2px solid var(--color);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.post-header {
    border: 2px solid var(--color);
    border-radius: 8px;
    padding: 10px;
    font-style: italic;
    margin-bottom: 50px;
}

.post-header .post-info {
    margin-top: -5px;
}

.post-content {
    font-size: 1.2rem;
}

.post-link {
    cursor: pointer;
    line-height: 8px;
    margin-bottom: 5%;
}

.post-title {
    font-weight: 800;
    margin: 0;
}

.post-info {
    font-size: 13px;
    font-weight: 500;
}

.post-basis {
    font-style: italic;
    margin: 0;
    /* border-bottom: 2px solid var(--color); */
}

.post-blockquote {
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid var(--color);
    border-top: 1px solid var(--color);
    margin: 15px 0 15px 0;
}

.post-blockquote-text {
    margin: 0 auto;
    width: 80%;
    font-style: italic;
}

#blog-name {
    margin-bottom: 6.5%;
    font-weight: 800;
    font-style: italic;
    font-size: 2.6em;
}

.blog-header div {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}

.blog-header div div {
    font-style: italic;
    border-left: 6px solid var(--color-pop);
    padding-top: 13px;
    padding-bottom: 0px;
    padding-left: 10px;
    line-height: 35px;
    margin-bottom: 20px;
}

#toggle {
    cursor: pointer;
}

.list-item-header {
    font-weight: bold;
}

ol li {
    margin-bottom: 15px;
}