/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    background-color: #FFFFF0;
}

.custom-switch .custom-control-label::before {
    background-color: #1F1F1F;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #1F1F1F;
}

.custom-switch .custom-control-label::after {
    background-image: url('./images/sun_light_mode.jpg');
    background-size: cover;
}

.title,
.title:hover,
.intro,
.post, 
.post:hover,
.post-content,
.blockquote p {
    color: #1F1F1F;
    opacity: 1;
}

.post-title,
.blockquote h5 {
    color: #6F5A07;
    /* text-shadow: 0px 0px 1px #1F1F1F; */
}

.intro-opener {
    border-color: #6F5A07;
}

/* START SOURCE: https://jsfiddle.net/dfmbe60u/13/ */
.custom-switch.custom-switch-adaptive .custom-control-label {
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
    background-color: #FFFFF0;
}

.custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label {
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
    background-color: #FFFFF0;
    opacity: 1;
}
/* END SOURCE */